

    <form action="/ManagementPanel/AddProject" method="post">
        <label for="Project">Project:</label>
        <textarea id="Project" name="Project"></textarea>
        <button type="submit">Add</button>
    </form>

