
    <form action="/ManagementPanel/AddSkill" method="post">
        <label for="Skill">Project:</label>
        <input id="Skill" name="Skill" type="text" />
        <button type="submit">Add</button>
    </form>

